{
  extends: [
    'standard',
    'standard-react',
    'plugin:flowtype/recommended',
  ],
  plugins: [
    'flowtype',
  ],
  parserOptions: {
    sourceType: 'module',
    failOnError: true,
  },
  globals: {
    fetch: false,
  },
  rules: {
    'comma-dangle': [ 'error', 'always-multiline' ],
    'no-undef': [ 'off' ],
    'no-unused-vars': [ 'off' ],
    'react/jsx-no-undef': [ 'off' ],
    'max-len': [ 'error', 80 ],
  },
}
